{% extends "base.html" %}
{% block title %}
<title>Calendar</title>
{% endblock %}
{% block link%}
<link rel="stylesheet" href="../static/css/calendar.css">
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="cal-text">คลิกเพื่อเลือกวัน</h1>
    <div class="calendar-container">
        <div class="calendar-month">
            <div>
                <h1 id = "month" style="display: inline;">{{ month }}</h1>
                <h1 style="display: inline;">{{ years }}</h1>
            </div>
            <ul>
                <li class="prv"><button id="prev-mth">&lt;</button></li>
                <li class="nxt"><button id="next-mth">&gt;</button></li>
            </ul>
        </div>
            <table class="calendar">
                <thead>
                    <tr>
                        <th>อาทิตย์</th>
                        <th>จันทร์</th>
                        <th>อังคาร</th>
                        <th>พุธ</th>
                        <th>พฤหัสบดี</th>
                        <th>ศุกร์</th>
                        <th>เสาร์</th>
                    </tr>
                </thead>
                <tbody>
                    {% for week in dates %}
                    <tr>
                        {% for day in week %}
                            {% if day != 0 %}
                                <td><a style="color:black;display: block; width: 100%; height: 100%; text-align: center;" \
                                    href="time?catid={{ catid }}&roomid={{ roomid }}&date={{ day }}&month={{ month }}&years={{ years }}">{{ day }}</a></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    <div class="descript">
        <span>&#128994;จองได้</span>
        <span>&#128308;เต็ม</span>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#next-mth").click(function () {
            var data = "p";
            let month = $("#month").text();

            $.ajax({
                url: "calendar",  // ใช้ URL ที่เราได้ตั้งชื่อไว้ใน urls.py
                type: "POST",
                data: {
                    data: data,
                    month: month,
                    csrfmiddlewaretoken: '{{ csrf_token }}'  // เพิ่ม CSRF token
                },
                success: function (response) {
                    //console.log("Response data:", response);
                    $("body").html(response);
                },
                error: function (xhr, status, error) {
                    console.log("เกิดข้อผิดพลาด: " + xhr.responseJSON.error)
                }
            });
        });

        $("#prev-mth").click(function () {
            var data = "s";
            let month = $("#month").text();

            $.ajax({
                url: "calendar",  // ใช้ URL ที่เราได้ตั้งชื่อไว้ใน urls.py
                type: "POST",
                data: {
                    data: data,
                    month: month,
                    csrfmiddlewaretoken: '{{ csrf_token }}'  // เพิ่ม CSRF token
                },
                success: function (response) {
                    $("body").html(response);
                },
                error: function (xhr, status, error) {
                    console.log("เกิดข้อผิดพลาด: " + xhr.responseJSON.error)
                }
            });
        });

    });
</script>
{% endblock %}
