{% extends "base.html" %}
{% block title %}
<title>Calendar</title>
{% endblock %}
{% block link%}
<link rel="stylesheet" href="../static/css/calendar.css">
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="cal-text">คลิกเพื่อเลือกวัน</h1>
    <div class="calendar-container">
        <div class="calendar-month">
            <h1>มกรายน 2999</h1>
            <ul>
                <li class="prv"><button id="prev-mth">&lt;</button></li>
                <li class="nxt"><button id="next-mth">&gt;</button></li>
            </ul>
        </div>
            <table class="calendar">
                <thead>
                    <tr>
                        <th>อาทิตย์</th>
                        <th>จันทร์</th>
                        <th>อังคาร</th>
                        <th>พุธ</th>
                        <th>พฤหัสบดี</th>
                        <th>ศุกร์</th>
                        <th>เสาร์</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>21</td>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                    </tr>
                    <tr>
                        <td>27</td>
                        <td>28</td>
                        <td>29</td>
                        <td>30</td>
                        <td>31</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
    </div>
    <div class="descript">
        <span>&#128994;จองได้</span>
        <span>&#128308;เต็ม</span>
    </div>
</div>
{% endblock %}
