{% extends "base.html" %}
{% block title %}
<title>Select Room</title>
{% endblock %}
{% block link%}
<link rel="stylesheet" href="../static/css/selectroom.css">
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="room-head">เลือกห้อง</h1>
    <div class="room-container">
        {% for room in all_room %}
        <div class="card" id="first-room" style="background-image: url('../..{{room.img.url}}');">
            <div class="card-overlay">
                <p class="card-title">{{ room.roomname }}</p>
                <p class="card-sub">{{ room.category }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}