{% extends "base.html" %}
{% block title %}
<title>Time</title>
{% endblock %}
{% block link%}
<link rel="stylesheet" href="../static/css/time.css">
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="select-time">เลือกเวลา</h1>
    <div class="time-container">
        <div class="inside-time-container">
            {% comment %} <div class="time-slot-disable">10:00 - 11:00 น.</div> {% endcomment %}
            {% comment %} <div class="time-slot">11:00 - 12:00 น.</div> {% endcomment %}
            <h1 id="book-date">วัน {{ day }} ที่ {{ date }} {{ month }} {{ years }}</h1>
            <div class="time-block">
                <form action="booking" method="get">
                    {% csrf_token %}
                    {% for time in lenght %}
                        <div class="time-slot">
                            <input type="checkbox" id="time{{ forloop.counter }}" name="time" value="{{ time }}:00 - 12:00 น.">
                            <label for="time{{ forloop.counter }}">{{ time }}:00 - 12:00 น.</label>
                        </div>
                    {% endfor %}
                </form>
                {% comment %} <div class="time-slot">11:00 - 12:00 น.</div> {% endcomment %}
            </div>
            <p class="note">*จองได้สูงสุด {{ room.timelenght }} ชม.</p>
            <hr color="#007bff">
            <div class="time-description">
                <h2 style="color:#007bff;">รายละเอียด</h2>
                <div>
                    <p>{{ room.category.note }}</p>
                    <p>{{ room.description }}</p>
                    <p>แอดมิน {{ room.admin.name }} </p>
                </div>
            </div>
            <div class="time-save"><input id="time-save" type="button" value="บันทึก"><a href="/calendar" id="time-cancel">ยกเลิก</a></div>
        </div>
    </div>
</div>
{% endblock %}
