<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../static/booking/css/nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">
</head>
<body>
  <!--Navbar-->
    <nav class="kanit-regular">
        <div class="nav">
          <a class="brand" href="#"><h3>จองห้อง</h3></a>
          <div class="menu">
            <a href="#popup"><button class="login">Log in</button></a>
            <a href="#" id="menu-icon">
              <img id="menu-img" src="../../static/booking/icon/menu.png" alt="Menu">
            </a>
          </div>
        </div>
        <div class="link" id="nav-links">
          <ul>
            <a href="#"><li>โปรไฟล์</li></a>
            <a href="#"><li>การจองของคุณ</li></a>
            <a href="#"><li>ติดต่อผู้ดูแล</li></a>
            <a href="#"><li id="report">รายงานปัญหา</li></a>
          </ul>
        </div>
    </nav> <!--Navbar last line-->
    <!--Login form-->
    <div class="overlay" id="popup">
    <div class="popup-login" >
      <h1 style="text-align: center; margin-top: 30px; color: #007bff;">จองห้อง</h1>
      <form>
        <input type="text" placeholder="   ชื่อผู้ใช้"><br>
        <input type="password" placeholder="   รหัสผ่าน" id="password"><br>
        <input type="submit" id="btn-login" value="เข้าสู่ระบบ">
      </form>
      <p style="color: #a3a3a3; text-align: center; font-size: 13px;">หรือ เข้าสู่ระบบด้วย</p>
      <img  src="../../static/booking/icon/Google.png" alt="Menu">
      <a class="close" href="#">&times;</a>
    </div></div><!--Login form last line-->
    <script src="../../static/booking/js/nav.js"></script>
</body>
</html>
