<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
</head>
<body>
</body>
<!--Navbar-->
<nav class="kanit-regular">
  <div class="nav">
      <a class="brand" href="/"><h3>จองห้อง</h3></a>
      <div class="menu">
          <a href="#popup"><button class="login">Log in</button></a>
          <a href="#" id="menu-icon">
              <img id="menu-img" src="../static/icon/menu.png" alt="Menu">
          </a>
      </div>
  </div>
</nav> <!--Navbar last line-->

<div class="link" id="nav-links">
  <ul>
      <a href="/profile"><li>โปรไฟล์</li></a>
      <a href="/booking"><li>การจองของคุณ</li></a>
      <a href="/contact"><li>ติดต่อผู้ดูแล</li></a>
      <a href="/report"><li id="report">รายงานปัญหา</li></a>
  </ul>
</div>

<!--Login form-->
<div class="overlay" id="popup">
  <div class="popup-login">
      <h1 style="text-align: center; margin-top: 30px; color: #007bff;">จองห้อง</h1>
      <form>
          <input type="text" placeholder="   ชื่อผู้ใช้"><br>
          <input type="password" placeholder="   รหัสผ่าน" id="password"><br>
          <input type="submit" id="btn-login" value="เข้าสู่ระบบ">
      </form>
      <p style="color: #a3a3a3; text-align: center; font-size: 13px;">หรือ เข้าสู่ระบบด้วย</p>
      <img src="../static/icon/google.png" alt="Menu">
      <a class="close" href="#">&times;</a>
  </div>
</div> <!--Login form last line-->



    {% block content %}
    {% endblock %}

    <footer>
        <span class="make-thing">Make things easier</span>
        <span class="made-by">Made with ❤ by 
            <a href="#">@LCUKP</a> &
            <a href="#">@F1wzu</a> &
            <a href="#">@jjugumi</a> &
            <a href="#">@Wirayabovorn007</a>
        </span>
        </ul>
    </footer>
    <script src="../static/Js/nav.js"></script>
</html>