{% extends "base.html" %}
{% block title %}
<title>Booking</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="kanit-regular" style="text-align: left; font-weight: bold;">การจอง</h1>
        <div class="item">
            {% for i in books %}
            <div class="bookinghis">
                <div style="display: flex; align-items: center;">
                    {% for room in i.room.all %}
                        <h1>{{ room.roomname }}</h1>
                    {% endfor %}
                    <img src="../static/icon/check.png" width="20" height="20" alt="checked">
                </div>
                <p>วัน: {{ i.datebook }}</p>
                <p>เวลา: {{ i.timebook }}</p>
                {% for room in i.room.all %}
                    <p>สถานที่: {{ room.address }}</p>
                    <p>ผู้ดูแล: {{ room.admin }}</p>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
