{% extends "base.html" %}
{% block title %}
<title>Contact</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="kanit-regular">ช่องทางติดต่อผู้ดูแล</h1>
        <div class="item">
            {% for admin in admins %}
            <div class="card">
                <img class="admin-img" src="../..{{admin.img.url}}" alt="image">
                <p class="kanit-bold">{{admin.position}}</p>
                <p class="kanit-regular">{{admin.name}}</p>
                <a href="{{admin.contact}}" target="_blank"><button class="btn-contact">
                    Instagram
                </button></a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
