{% extends "base.html" %}
{% load static %}
{% block title %}
    {% if user.is_authenticated %}
        <title>Reservation</title>
    {% else %}
        <title>Home</title>
    {% endif %}
{% endblock %}
{% block link %}
    {% if user.is_authenticated %}
        <link rel="stylesheet" href="{% static 'css/reservation.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% endif %}
{% endblock %}
{% block content %}
{% if user.is_authenticated %}

<div class="container">
    <h1 class="res-head">เลือกประเภทห้อง</h1>
    <div class="reserv-container">
        {% for cat in all_category %}
        <a href="selectroom?catid={{cat.id}}">
        <div class="card img-card" style="background-image: url('../..{{cat.img.url}}');">
            <div class="card-overlay">
                <p class="card-title">{{ cat.catname }}</p>
                <p class="card-sub">{{ cat.address }}</p>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
</div>

{% else %}
<div class="container">
    <div class="item">
        <div class="first-section">
            <div class="logo">
                <h1>จองห้อง</h1>
                <p>ระบบจองห้อง Creative and Ideation<br> คณะเทคโนโลยีสารสนเทศ</p>
                <div class="element" id="element-mobile">
                    <span id="s">ง่าย
                        <img src="../static/icon/check.png" alt="Check">
                    </span>
                    <span id="s">สะดวก
                        <img src="../static/icon/check.png" alt="Check">
                    </span><br>
                    <span id="l">ลดปัญหาการจองทับ
                        <img src="../static/icon/check.png" alt="Check">
                    </span>
                </div>
                <button>จองเลย</button>
                <button id="How" onclick="how_to_use()">วิธีใช้งาน</button>
            </div>
            <div id="overlaybg" class="overlaybd" onclick="how_to_use()"></div>
            <div id="howto">
                <p>
                <div style="display: -webkit-flex; align-items: center; justify-content: center; padding: 0;"><h1>วิธีการใช้งานเว็บไซต์จองห้อง</h1><div style="margin-left: 2px;"><img src="../static/icon/check.png" height="20" width="20" alt="check"></div></div>
                <h3>1.เข้าสู่ระบบ</h3>
                -คลิกที่ปุ่ม <a href="users/login/" style="color: #007bff;">Login</a> ที่มุมบนขวาของหน้าเว็บไซต์ กรอกชื่อผู้ใช้และรหัสผ่านของคุณลงในแบบฟอร์มเข้าสู่ระบบ หากยังไม่มีบัญชีผู้ใช้ ให้คลิกที่ปุ่ม <a href="/register" style="color: #007bff;">ยังไม่มีบันชี หรือ Register</a><br><br><h3>2.เลือกหมวดหมู่ห้อง</h3>-เมื่อเข้าสู่ระบบแล้วสามารถเลือกห้องที่ต้องการจองโดย ให้เลือกหมวดหมู่ของห้องที่ต้องการจอง
                คลิกที่หมวดหมู่เพื่อดูรายการห้องที่มีให้จองในหมวดหมู่นั้น<br><br><h3>3.เลือกห้องที่ต้องการ</h3>-เลือกห้องจากรายการที่แสดง ตรวจสอบข้อมูลห้อง เช่น สถานที่, เวลาเปิด-ปิด<br><br><h3>4.เลือกวันและเวลา</h3>-เลือกวันที่คุณต้องการจองห้องโดยใช้ปฏิทินที่แสดง
                <br><br><h3>5.เลือกเวลาที่ต้องการ และ ยืนยัน</h3>-ตรวจสอบรายละเอียดการจองของคุณอีกครั้ง ชื่อผู้จอง, ชื่อห้อง, วันที่, และเวลาที่เลือก
                กดปุ่ม <b>ยืนยัน</b> เพื่อทำการจองห้องให้เสร็จสมบูรณ์
                คุณจะได้รับข้อมูลยืนยันการจองผ่านทางหน้า <a href="/booking" style="color: #007bff;">การจองของคุณ</a>
                </p><br>
            </div>
            <div class="element">
                <span id="s">ง่าย
                    <img src="../static/icon/check.png" alt="Check">
                </span>
                <span id="s">สะดวก
                    <img src="../static/icon/check.png" alt="Check">
                </span><br>
                <span id="l">ลดปัญหาการจองทับ
                    <img src="../static/icon/check.png" alt="Check">
                </span>
            </div>
            
        </div>
    </div>
    <div class="item">
        <div class="second-section">
            <h1 style="color: #007bff; margin: 10px;">About</h1>
            <div class="paragraph">
                <p>{% lorem 1 b random %}</p>
            </div>
        </div>
    </div>
    
</div>
{% endif %}
<h1 id="background-text">จองห้อง</h1>
{% endblock %}
