{% extends "base.html" %}
{% block title %}
<title>Profile</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="kanit-regular" style="font-weight: bold;">Hello, {{ user.name }}</h1>
        <div class="item">
            
            <div class="profile-container">
                
                <img src="{{ user.img.url }}" width="150" height="150" alt="profile image">
                <h2>{{ user.username }}</h2>
                <p>{{ user.name }} {{ user.lastname }}</p>
                <div style="margin-top: 30px;">
                    <a href="/booking"><button>การจองของคุณ</button></a>
                    <a href="/contact"><button id="reportpfp">รายงานปัญหา</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
