{% extends "00-base.html" %}

{% block title %}
<title>Admin profile</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="kanit-regular" style="font-weight: bold;">Hello, Chotipat!</h1>
    <div class="item">
        
        <div class="Adminprofile-container">
            <img src="../static/icon/check.png" width="150" height="150" alt="profile image">
            <h2>Admin01</h2>
            <p>Name Lastname</p>
            <div style="margin-top: 30px;">
                <a href="manage-room"><button>การจัดการห้อง</button></a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}