{% extends "00-base.html" %}

{% block title %}
<title>Login for Admin</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 style="font-size: 80px; margin: 0; padding: 0;">จองห้อง</h1>
    <p style="margin-bottom: 30px;">ระบบการจัดการเว็บไซต์ จองห้อง สำหรับผู้ดูแล</p>
    <form class="form-login">
        <label for="admin-username">ชื่อผู้ใช้</label><br>
        <input name="admin-username" type="text" placeholder="username" required style="width: 250px;"><br>
        <label for="admin-password">รหัสผ่าน</label><br>
        <input name="admin-password" type="password" placeholder="password" required style="width: 250px;"><br>
        <button type="submit">เข้าสู่ระบบ</button>
    </form>
</div>
{% endblock %}