{% extends "00-base.html" %}

{% block title %}
<title>Booking history</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="admintitle">
        <table>
            <tr>
                <th><h2>ผู้ใช้</h2></th>
                <th><h2>หมวดหมู่</h2></th>
                <th><h2>ห้อง</h2></th>
                <th><h2>วัน/เวลา</h2></th>
            </tr>
            <tr>
                <td>Wiraya</td>
                <td>ห้องติว</td>
                <td>Peer1</td>
                <td>8/10/67 9:20-12:00</td>
            </tr>
            <tr>
                <td>Giga</td>
                <td>ห้องทำโปรเจค</td>
                <td>Peer2</td>
                <td>10/11/67 10:20-13:20</td>
            </tr>
            <tr>
                <td>Supakit.net</td>
                <td>ห้องประชุม</td>
                <td>Slope</td>
                <td>10/11/67 12:00-15:00</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}