{% extends "00-base.html" %}

{% block title %}
<title>Booking history</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="admintitle">
        <table>
            <tr>
                <th><h2>หมวดหมู่</h2></th>
                <th><h2>ห้อง</h2></th>
                <th><h2>วัน/เวลา</h2></th>
            </tr>
            {% for booking in admin_bookings %}
            <tr>
                {% for room in booking.room.all %}
                    <td>{{ room.category }}</td>
                    <td>{{ room.roomname }}</td>
                {% endfor %}
                <td>
                    วัน: {{ booking.datebook }}
                    เวลา: {{ booking.timebook }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}