{% extends "00-base.html" %}

{% block title %}
<title>Rooms</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Add Room</h1>
        <form method="post" action="rooms">
            <label for="roomname">Room Name : </label><input type="text"><br>
            <label for="timelenght">Time Lenght : </label><input type="text"><br>
            <input type="checkbox" name="approval"><label>Approval</label><br>
            <label for="description">Description : </label><textarea name="description"></textarea><br>
            <label for="address">Address : </label><input type="text"><br>
            <label for="roomimg">Room IMG : </label><input type="file"><br>
            <label for="adminid">Admin ID : </label><input type="text"><br>
            <div>
            <button>SAVE</button>
            <button>Save and add another</button>
            <button>Save and continue editing</button>
            </div>
        </form>
</div>
{% endblock %}