footer{
    display: flex;
    position: fixed;
    width: 100%;
    left: 0 ;
    bottom: 0;
    background-color: #000;
    color: #fff;
    padding: 12px;
    justify-content: space-around;
    font-size: 22px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 5px;
    bottom: 0;
}
.made-by{
    list-style: none;
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    font-weight: 250;
    font-style: normal;
    padding-right: 10px;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #3399ff;
}
@media only screen and (max-width: 768px){
    footer{
        display: block;
        /* position: fixed; */
        bottom: 0;
        padding: 5px;
        font-size: 18px;
    }
    .made-by{
        display: block;
        font-size: 14px;
    }
}