*{
    scroll-behavior: smooth;
}

h1{
    padding-bottom: 15px;
    color: #007bff;
    text-align: center;
}

li{
    list-style: none;
}

.container {
    display:  -webkit-flex;
    -webkit-flex-direction: column;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 150px 0px 800px;
    margin-bottom: 150px;
    animation:fadeInUp 1s ease backwards;
}
.item {
    display:  -webkit-flex;
    -webkit-justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: center;
}

@keyframes fadeInUp{
    0%{-webkit-transform:translate(0px, 100px); opacity: 0;}
    100%{-webkit-transform:translate(0px, 0); opacity: 1;}
  }
input[type="text"]{
    padding: 0px 10px;
}
input:focus{
    outline: none;
}
input[type="text"]:focus{
    background-color: rgb(247, 247, 247);
}
input[type="number"]:focus{
    background-color: rgb(247, 247, 247);
}
input[type="number"]{
    text-align: center;
}
input[type="radio"] {
    accent-color: #007f96;
}

option{
    color: #007bff;
    font-size: 16px;
}

select:focus{
    outline: none;
}

input[type=file]{
    background-color: transparent;
    width: auto;
    cursor: pointer;
    color: rgb(191, 191, 191);
}
input[type=file]::-webkit-file-upload-button{
    display: none;
}
input[type=file]::before{
    content: 'อัพโหลดรูป  ';
    color: #007bff;
}
input[type="time"]{
    text-align: center;
    border: none;
    border-radius: 0;
    width: 100px;
    border-bottom: 0.5px solid #007bff ;
}

@media only screen and (max-width: 768px){
    .item{
        display:  -webkit-flex;
        -webkit-flex-direction: column;
        -webkit-justify-content: center;
        align-items: center;
        padding: 5px;
        font-size: 18px;
    }
}

