.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 150px 0px 800px;
    margin-bottom: 150px;
}
.item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: center;
}
input:focus{
    outline: none;
}
input[type="text"]:focus{
    background-color: rgb(247, 247, 247);
}
input[type="number"]:focus{
    background-color: rgb(247, 247, 247);
}
input[type="number"]{
    text-align: center;
}
option{
    color: #007bff;
    font-size: 16px;
}

select:focus{
    outline: none;
}

input[type=file]{
    background-color: transparent;
    width: auto;
    cursor: pointer;
    color: rgb(191, 191, 191);
}
input[type=file]::-webkit-file-upload-button{
    display: none;
}
input[type=file]::before{
    content: 'อัพโหลดรูป  ';
    color: #007bff;
}

@media only screen and (max-width: 768px){
    .item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        font-size: 18px;
    }
}

