.time-container{
    width: 50%;
    height: auto;
    background-color: white;
    border-radius: 18px;
    box-shadow: 0 0px 12px #c7c7c7;
}
.inside-time-container{
    margin: 5%;
}
#book-date{
    color: #007bff;
}
.select-time{
    font-size: 48px;
    color: #007bff;
}
.time-block{
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
    column-gap: 50px;
}
.time-slot{
    width: 148px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    color: #007bff;
    font-weight: bold;
    border: 2px solid #007bff;
    transition: background-color 0.3s, color 0.3s;
}
.time-slot:hover{
    background-color: #007bff;
    color: #fff;
}
.time-slot-disable{
    width: 148px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #E6E6E6;
    color: #8e8e8e;
    border: 2px #e6e6e6 solid;
}
.note{
    color: #d40000;
    padding-bottom: 10px;
}
.time-description{
    padding-top: 50px;
}
.des-head{
    font-weight: bold;
}
.time-save{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
}
.time-save input[type="button"]{
    width: 20%;
    padding: 10px;
    font-size: 20px;
    border: 1px #007bff solid;
    border-radius: 8px;
    cursor: pointer;
}
#time-save{
    color: #fff;
    background-color: #007bff;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}
#time-save:hover{
    background-color: #fff;
    color: #007bff;
}
#time-cancel{
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px #000 solid;
    background-color: #fff;
    color: #000;
    transition: 0.3s;
}
#time-cancel:hover{
    border: 1px solid transparent;
}
.time-description table{
    font-size: 18px;
}

@media only screen and (max-width:1024px){
    .time-container{
        width: 100%;
    }
    .time-slot, .time-slot-disable{
        width: 100px;
        height: 50px;
        font-size: 14px;
    }
    .time-block{
        gap: 20px;
    }
    .time-container{
        width: 90%;
    }
    .des-head, .des-data{
        font-size: 13px;
    }
    .time-description{
        padding-top: 20px;
    }
    .time-save{
        padding-top: 20px;
    }
    .time-save input[type="button"]{
        width: 30%;
        padding: 10px;
        font-size: 16px;
    }
}