*{
    margin: 0;
    font-family: "Kanit", sans-serif;
}
.kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .kanit-extralight {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .kanit-semibold {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .kanit-extrabold {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .kanit-black {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .kanit-thin-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .kanit-extralight-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .kanit-light-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .kanit-regular-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .kanit-medium-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .kanit-semibold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .kanit-bold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .kanit-extrabold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .kanit-black-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  
.nav{
    background-color: white;
    box-shadow: 0 0 15px #007bff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.brand {
    padding: 14px;
    color: #007bff;
    font-weight: bold;
    font-size: 30px;
    transition: 0.3s;
    margin-left: 60px;
  }
a{
    text-decoration: none;
  }
  
.login {
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    height: 40px;
    width: 90px;
    font-size: 16px;
    transition: 0.1s;
}
.nav img{
    height: 45px;
    margin-left: 10px;
    transition: transform 0.3s ease;
}
.nav img.rotate{
  transform: rotate(90deg);
}
.menu{
    display: flex;
    align-items: center;
    margin-right: 60px;
}
.login:hover{
    border: solid;
    background-color: transparent;
    border-color: #007bff;
    color: #007bff;
}
.brand:hover{
    transform: scale(1.1);
}
.link{
  z-index: 99999999999;
  margin-right: 60px;
  display: none;
  justify-content: flex-end;
  transition: opacity 0.3s ease;
  position: absolute;
  left: 80%;
  top: 10%;
}
.link.show{
  display: flex;
  opacity: 1;
}
.link ul{
    width: 180px;
}
.link li{
    border-radius: 5px;
    border-color: #007bff;
    border: 0.5px solid;
    list-style: none;
    background-color: white;
    padding: 10px;
    text-align: center;
    transition: 0.1s;
}
.link a{
    color: #007bff;
}
.link li:hover{
    background-color: #007bff;
    color: white;
}
.link #report:hover{
  background-color: #ff0000;
}
.popup-login{
  box-shadow: 0px 0 5px #a3a3a3;
  width: 350px;
  height: 400px;
  position: absolute;
  background-color:white;
  border-radius: 15px;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

.popup-login form{
  text-align: center;
}
.popup-login form input{
  transition: 0.3s;
  width: 240px;
  height: 40px;
  border: none;
  margin: 14px;
  background-color: rgb(235, 235, 235);
  border-bottom: 0.5px solid #007bff;
}
.popup-login .close{
  font-size: 2rem;
  color:  rgb(123, 123, 123);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}
input[type=text]:focus{
  outline: none;
  background-color: rgb(221, 221, 221);
}
input[type=password]:focus{
  outline: none;
  background-color: rgb(221, 221, 221);
}
.popup-login img{
  width: 20px;
  height: 20px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  margin-top: 10px;
  cursor: pointer;
}
#btn-login{
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  border-radius: 15px;
  font-size: 15px;
  background-color: #007bff;
  margin-top: 10px;
  color: white;
  transition: 0.3s;
  border: none;
}
#btn-login:hover{
  border: solid;
  background-color: transparent;
  border-color: #007bff;
  color: #007bff;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

/*Responsive nav*/
@media only screen and (max-width: 1200px) { /*Tablet*/
  .link{
    left: 71%;
    top: 7%;
  }
}

@media only screen and (max-width: 600px) { /*Mobile*/
  .link{
    left: 40%;
    top: 7%;
  }
  .brand{
    font-size: 22px;
    margin: 0;
  }
  .nav{
    position: absolute;
    width: 100%;
  }
  .menu{
    margin: 0;
  }
  .login{
    font-size: 13px;
    height: 27px;
    width: 60px;
  }
  .nav img{
    height: 30px;
    width: 30px;
  }
}
