
.input-value{
    transition: 0.3s;
    width: 200px;
    height: 40px;
    font-size: 15px;
    background-color: transparent;
    border: 0.5px solid #007bff;
    border-radius: 5px;
    margin: 10px;
}
.input-regis{
    display: -webkit-flex;
    flex-direction: column;
    float: left;
}
.pos{
    display: -webkit-flex;
    align-items: center;
}
.input-label{
    text-align: left;
    color: #007bff;
    font-size: 20px;
    font-weight: 500;
}

.input-box{
    float: left;
}
.input-box input,select,textarea{
    margin: 10px;
}
#submitbt{
    cursor: pointer;
    transition: 0.3s;
    border: 0.5px solid transparent;
    color: white;
    width: 120px;
    font-size: 15px;
    padding: 15px 30px;
    background-color: #1ac93a;
    margin-right: 5px;
    padding: 15px;
    border-radius: 1rem;
    font-weight: 500;
}
#submitbt:hover{
    background-color: transparent;
    color: #1ac93a;
    border: 0.5px solid;
    border-color: #1ac93a;
}

#cancelbt{
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    border: 0.5px solid transparent;
    color: white;
    width: 120px;
    padding: 15px 30px;
    background-color: #e91111;
    margin-right: 5px;
    padding: 15px;
    border-radius: 1rem;
}
#cancelbt:hover{
    background-color: transparent;
    color: #e91111;
    border: 0.5px solid;
    border-color: #e91111;
}
.pad-but{
    float: none;
    margin-top: 30px;
    display: -webkit-flex;
    justify-content: center;
}
textarea{
    display: block;
    resize: none;
}
textarea:focus{
    outline: none;
    background-color: rgb(247, 247, 247);
}
.input-box input[type="number"]{
    width: 70px;
    height: 40px;
}
.catagory-select{
    cursor: pointer;
    transition: 0.3s;
    width: 210px;
    height: 40px;
    font-size: 15px;
    background-color: transparent;
    border: 0.5px solid #007bff;
    border-radius: 5px;
}
.addcatagory-select{
    cursor: pointer;
    transition: 0.3s;
    width: 210px;
    height: 40px;
    font-size: 15px;
    background-color: transparent;
    border: 0.5px solid #007bff;
    border-radius: 5px;
}

.annotation{
    transition: 0.3s;
    width: 600px;
    height: 90px;
    font-size: 18px;
    background-color: transparent;
    border: 0.5px solid #007bff;
    border-radius: 5px;
}
.input-time{
    cursor: pointer;
    transition: 0.3s;
    height: 60px;
    font-size: 18px;
    border: none;
    margin: 0;
    border-bottom: 0.5px solid #007bff;
}

.dropdown {
    margin: 10px;
    position: relative;
    display: inline-block;
    width: 100%; /* Adjusts the width to fit the container */
}

.dropbtn {
    background-color: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    border: 0.5px solid #007bff;
    font-size: 15px;
    color: #8e8e8e;
    border-radius: 5px;
    max-width: 200px;
    width: 200px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#dropdownMenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    border: 1px solid #ccc;
}


.clear-btn {
    margin-top: 10px;
    background-color: #d9534f; /* Red background for emphasis */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    width: 100%; /* Makes the button span the dropdown width */
}



/*Responsive*/
@media only screen and (max-width:1200px){
    .input-regis{
        float: none;
    }

    .catagory-select,.addcatagory-select, .input-value{
        width: 280px;
    }
    .catagory-select option{
        font-size: 10px;
    }
}

@media only screen and (max-width:768px){
    .input-value{
        width: 280px;
    }
    .catagory-select, .addcatagory-select{
        width: 280px;
    }
    .catagory-select option, .addcatagory-select option{
        font-size: 9px;
    }
    .pad-but{
        margin-bottom: 140px;
    }

}

.upload-image {
    cursor: pointer;
    max-width: 150px;
    max-height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
#fileInput{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: auto;
}

@media only screen and (max-width:600px){
    .input-value{
        width: 300px;
    }
    .catagory-select,.addcatagory-select{
        width: 300px;
    }
    .catagory-select option, .addcatagory-select option{
        font-size: 9px;
    }
    .input-box textarea, .annotation{
        width: 330px;
    }
    .input-box input, select, textarea {
        margin: 5px;
    }
    .input-box{
        float: none;
        width: 300px;
    }
    .addroom{
        display: -webkit-flex;
        justify-content: center;
        flex-direction: column;
    }

}