h1{
    padding-bottom: 15px;
    color: #007bff;
    text-align: center;
}
.input-value{
    transition: 0.3s;
    width: 300px;
    height: 60px;
    font-size: 18px;
    background-color: transparent;
    border: 0.5px solid #007bff;
    border-radius: 5px;
    margin: 10px;
}

.pos{
    display: flex;
    align-items: center;
}
.input-label{
    text-align: left;
    color: #007bff;
    font-size: 20px;
    font-weight: 500;
}
.input-box{
    float: left;
}
.input-box input,select,textarea{
    margin: 10px;
}
#submitbt, #submitbt00, #submitbt01{
    cursor: pointer;
    transition: 0.3s;
    border-color: transparent;
    color: white;
    width: 150px;
    font-size: 20px;
    padding: 15px 30px;
    background-color: #1ac93a;
    margin-right: 5px;
    padding: 15px;
}
#submitbt:hover,#submitbt00:hover,#submitbt01:hover{
    background-color: transparent;
    color: #1ac93a;
    border: 0.5px solid;
    border-color: #1ac93a;
}
#submitbt01{
    display: none;
}
#cancelbt{
    cursor: pointer;
    border-color: transparent;
    color: white;
    transition: 0.3s;
    width: 150px;
    padding: 15px 30px;
    font-size: 20px;
    background-color: #e91111;
}
#cancelbt:hover{
    background-color: transparent;
    color: #e91111;
    border: 0.5px solid;
    border-color: #e91111;
}
.pad-but{
    margin-top: 30px;
    display: flex;
}
textarea{
    display: block;
    resize: none;
}
textarea:focus{
    outline: none;
    background-color: rgb(247, 247, 247);
}
.input-box input[type="number"]{
    width: 70px;
}
.catagory-select{
    cursor: pointer;
    transition: 0.3s;
    width: 380px;
    height: 60px;
    font-size: 18px;
    background-color: transparent;
    border: 0.5px solid #007bff;
    border-radius: 5px;
}

.annotation{
    transition: 0.3s;
    width: 600px;
    height: 90px;
    font-size: 18px;
    background-color: transparent;
    border: 0.5px solid #007bff;
    border-radius: 5px;
}
.input-time{
    cursor: pointer;
    transition: 0.3s;
    height: 60px;
    font-size: 18px;
    border: none;
    margin: 0;
    border-bottom: 0.5px solid #007bff;
}



/*Responsive*/
@media only screen and (max-width:1200px){
    .input-value{
        width: 350px;
    }
    .catagory-select{
        width: 320px;
    }
    .catagory-select option{
        font-size: 10px;
    }
}

@media only screen and (max-width:768px){
    .input-value{
        width: 250px;
    }
    .catagory-select{
        width: 220px;
    }
    .catagory-select option{
        font-size: 9px;
    }
}

@media only screen and (max-width:600px){
    .input-value{
        width: 300px;
    }
    .catagory-select{
        width: 300px;
    }
    .catagory-select option{
        font-size: 9px;
    }
    .input-box textarea{
        width: 370px;
    }
    .input-box input, select, textarea {
        margin: 5px;
    }
    .input-box{
        justify-content: center;
        width: 300px;
    }
    .addroom{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .pad-but{
        margin-left: 18%;
    }
    .addroom h1{
        margin-left: 25%;
    }
    #submitbt01{
        display: block;
    }
    #submitbt00{
        display: none;
    }
}